* {
	border: none;
	border-radius: 0;
	font-family: Berkeley Mono;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background-color: #000000;
}

#clock {
	color: #c0caf5;
	background-color: #1f2335;
	padding-right: 10px;
	padding-left: 10px;

}

#workspaces {
	background-color: #1f2335;
}

#workspaces button.active {
	color: #c0caf5;
	/* border-bottom: 1px solid #c3e88d; */
}

#workspaces button {
	color: #737aa2;
}

#pulseaudio {
	color: #c0caf5;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #1f2335;
}
